/*--------------------------------//
//                                //
//             Color              //
//                                //
//--------------------------------*/
body {
	/*
		Primary Color
	*/
	--color-primary: #6200EE;
	--color-primary-text: #FFF;
	--color-primary-dark: #3700B3;
	--color-primary-dark--text: #FFF;
	--color-primary-light: #BB86FC;
	--color-primary-light-text: #000;
	
	/*
		Secondary Color
	*/
	--color-secondary: #03DAC6;
	--color-secondary-text: #000;
	
	/*
		Background
	*/
	--color-background: #FFF;
	--color-background-text: #000;
	--color-surface: #FFF;
	--color-surface-text: #000;
	--color-error: #B00020;
	--color-error-text: #FFF;
}