/*--------------------------------//
//                                //
//             Color              //
//                                //
//--------------------------------*/
body {
	/*
		Primary Color
	*/
	--color-primary: #F9AA33;
	--color-primary-text: #000;
	--color-primary-dark: #0B222C;
	--color-primary-dark--text: #FFF;
	--color-primary-light: #5F7481;
	--color-primary-light-text: #000;
	
	/*
		Secondary Color
	*/
	--color-secondary: #000;
	--color-secondary-text: #F9AA33;
	
	/*
		Background
	*/
	--color-background: #344955;
	--color-background-text: #FFF;
	--color-surface: #FFF;
	--color-surface-text: #000;
	--color-error: #B00020;
	--color-error-text: #FFF;
}