/*--------------------------------//
//                                //
//              Font              //
//                                //
//--------------------------------*/
/* Google Web Fonts */
/* https://fonts.googleapis.com/css?family=Roboto */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto'),
		 local('Roboto-Regular'),
		 url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2'),
		 url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxM.woff) format('woff');
	unicode-range: U+0000-00FF,
				   U+0131,
				   U+0152-0153,
				   U+02BB-02BC,
				   U+02C6,
				   U+02DA,
				   U+02DC,
				   U+2000-206F,
				   U+2074,
				   U+20AC,
				   U+2122,
				   U+2191,
				   U+2193,
				   U+2212,
				   U+2215,
				   U+FEFF,
				   U+FFFD;
}

/* Google Material Icons */
/* https://fonts.googleapis.com/icon?family=Material+Icons */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/materialicons/v43/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2'),
		 url(https://fonts.gstatic.com/s/materialicons/v43/flUhRq6tzZclQEJ-Vdg-IuiaDsNa.woff) format('woff');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #000;
	color: var(--color-background-text);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.h1 {
	font-size: 6rem;
	line-height: 6rem;
	letter-spacing: -0.09375rem;
	font-weight: 300;
}

.h2 {
	font-size: 3.75rem;
	line-height: 3.75rem;
	letter-spacing: -0.03125rem;
	font-weight: 300;
}

.h3 {
	font-size: 3rem;
	line-height: 3.125rem;
	letter-spacing: 0rem;
	font-weight: 400;
}

.h4 {
	font-size: 2.125rem;
	line-height: 2.5rem;
	letter-spacing: 0.015625rem;
	font-weight: 400;
}

.h5 {
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: 0rem;
	font-weight: 400;
}

.h6 {
	font-size: 1.25rem;
	line-height: 2rem;
	letter-spacing: 0.009375rem;
	font-weight: 500;
}

.subtitle1 {
	font-size: 1rem;
	line-height: 1.75rem;
	letter-spacing: 0.009375rem;
	font-weight: 400;
}

.subtitle2 {
	font-size: .875rem;
	line-height: 1.375rem;
	letter-spacing: 0.00625rem;
	font-weight: 500;
}

.body1 {
	font-size: 1rem;
	line-height: 1.5rem;
	letter-spacing: 0.03125rem;
	font-weight: 400;
}

.body2 {
	font-size: .875rem;
	line-height: 1.25rem;
	letter-spacing: 0.015625rem;
	font-weight: 400;
}

.button {
	font-size: .875rem;
	line-height: 2.25rem;
	letter-spacing: 0.078125rem;
	font-weight: 700;
	
	text-decoration: none;
	text-transform: uppercase;
}

.caption {
	font-size: .75rem;
	line-height: 1.25rem;
	letter-spacing: 0.025rem;
	font-weight: 400;
}

.overline {
	font-size: .625rem;
	line-height: 2rem;
	letter-spacing: 0.09375rem;
	font-weight: 400;

	text-decoration: none;
	text-transform: uppercase;
}