/*--------------------------------//
//                                //
//              Grid              //
//                                //
//--------------------------------*/
.grid {
	display: grid;
	grid-template-columns: 90vw;
	grid-gap: 1vw;
	
	margin-top: 2em;
	margin-bottom: 2em;
}

.grid .grid-item {
	height: 4.5em;
	
	background-color: #FFAA1C;
	background-color: var(--color-primary);
	color: #000;
	color: var(--color-primary-text);
	
	box-sizing: border-box;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	outline: 0;
	border: none;
	-webkit-tap-highlight-color: transparent;
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
	vertical-align: baseline;
	min-width: 18em;
	overflow: visible;
}

.grid .grid-item a {
	display: flex;
	align-items: center;
}

.grid .grid-item a::before {
	background-color: #000;
	background-color: var(--color-secondary);
	opacity: 0;
	transition: opacity .2s ease;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: "";

	/* Added to prevent buttons moving when hovered. */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid .grid-item a:hover::before {
	opacity: 0.2;
}

.grid .grid-item a:active::before {
	opacity: 0.4;
}

.grid .grid-item.incomplete {
	color: #FFF;
	color: var(--color-error-text);
	background-color: #8D052D;
	background-color: var(--color-error);
	cursor: not-allowed;
}

.grid .grid-item .thumbnail {
	width: 2.5em;
	height: 2.5em;
	display: block;
	margin: 1em;
	background-color: #000;
	background-color: var(--color-secondary);
	color: #FFAA1C;
	color: var(--color-secondary-text);
	text-align: center;
	line-height: 2.5em;
}

.grid .item-text {
	display: flex;
	flex-direction: column;
	padding-right: 1em;
}

.grid .title {
	line-height: 1.75em;
	font-size: 1em;
	font-weight: bold;
}

.grid .secondary {
	line-height: 1.25em;
	font-size: .875em;
	opacity: 0.8;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.grid {
		grid-template-columns: 90vw;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.grid {
		grid-template-columns: 80vw;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.grid {
		grid-template-columns: 60vw;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.grid {
		grid-template-columns: repeat(2, 30vw);
	}
}

/* Extra extra large devices (extra large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
	.grid {
		grid-template-columns: repeat(3, 20vw);
	}
}