/*--------------------------------//
//                                //
//              List              //
//                                //
//--------------------------------*/
.list {
	display: flex;
	justify-content: center;
	flex-direction: column;
	
	margin-top: 2em;
	cursor: pointer;
	
	background-color: #F9AA33;
	background-color: var(--color-primary);
	color: #000;
	color: var(--color-primary-text);
}

.list li {
	height: 4.5em;
	
	box-sizing: border-box;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	outline: 0;
	border: none;
	-webkit-tap-highlight-color: transparent;
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
	vertical-align: baseline;
	min-width: 4em;
	overflow: visible;
}

.list li::before {
	background-color: #000;
	background-color: var(--color-secondary);
	opacity: 0;
	transition: opacity .2s ease;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: "";

	/* Added to prevent buttons moving when hovered. */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.list li:hover::before {
	opacity: 0.2;
}

.list li:active::before {
	opacity: 0.4;
}

.list li a {
	display: flex;
	align-items: center;
}

.list .thumbnail {
	width: 2.5em;
	height: 2.5em;
	display: block;
	margin: 1em;
	background-color: #000;
	background-color: var(--color-secondary);
	color: #FFF;
	color: var(--color-secondary-text);
	text-align: center;
	line-height: 2.5em;
}

.list .item-text {
	display: flex;
	flex-direction: column;
	padding-right: 1em;
}

.list .title {
	line-height: 1.75em;
	font-size: 1em;
}

.list .secondary {
	line-height: 1.25em;
	font-size: .875em;
	opacity: 0.5;
}