body {
	color: #FFF;
	color: var(--color-background-text);
	background-color: #2F3D57;
	background-color: var(--color-background);
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

iframe {
	margin-top: 2em;
	margin-bottom: 2em;
	width: 63vw;
}

@media only screen and (max-device-width: 480px) {
	iframe {
		width: 90vw;
	}
}