/*--------------------------------//
//                                //
//             Button             //
//                                //
//--------------------------------*/
.button {
	color: #000;
	color: var(--color-primary-text);
	background-color: #FFAA1C;
	background-color: var(--color-primary);
	box-sizing: border-box;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	outline: 0;
	border: none;
	-webkit-tap-highlight-color: transparent;
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
	vertical-align: baseline;
	text-align: center;
	margin: 0;
	min-width: 4em;
	line-height: 2.25em;
	padding: 0 1em;
	margin: .5em;
	border-radius: 0.25em;
	overflow: visible;
}

.button::before {
	background-color: #000;
	background-color: var(--color-primary-text);
	opacity: 0;
	transition: opacity .2s ease;
	border-radius: 0.25em;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: "";

	/* Added to prevent buttons moving when hovered. */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.button:hover::before {
	opacity: 0.2;
}

.button:active::before {
	opacity: 0.4;
}

.icon-text-button {
	display: flex;
	flex-direction: column;

	color: #FFAA1C;
	color: var(--color-primary);
	background-color: transparent;
}

.icon-text-button::before {
	background-color: #FFAA1C;
	background-color: var(--color-primary);
}

.button__icon {
	margin: 0 auto;
	padding-top: 0.75em;
}

.button__text {
	font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.009375rem;
	font-weight: 500;
	text-transform: uppercase;
    padding-bottom: 0.25rem;
}

@media only screen and (max-device-width: 480px) {
	.text-button {
		margin: 0;
	}
}

.button[aria-hidden="true"] {
	display: none;
}