/*--------------------------------//
//                                //
//             Color              //
//                                //
//--------------------------------*/
:root {
	/*
		Primary Color
	*/
	--color-primary: #FFAA1C;
	--color-primary-text: #000;
	
	/*
		Secondary Color
	*/
	--color-secondary: #000;
	--color-secondary-text: #FFAA1C;
	
	/*
		Background
	*/
	--color-background: #E8FFFF;
	--color-background-text: #2F3D57;
	--color-error: #8D052D;
	--color-error-text: #FFF;
}

@media (prefers-color-scheme: dark) {
	:root {
		/*
			Background
		*/
		--color-background: #2F3D57;
		--color-background-text: #FFF;
	}
}