/*--------------------------------//
//                                //
//             Color              //
//                                //
//--------------------------------*/
:root {
	/*
		Primary Color
	*/
	--color-primary: #FFAA1C;
	--color-primary-text: #000;
	--color-primary-dark: #0B222C;
	--color-primary-dark--text: #FFF;
	--color-primary-light: #5F7481;
	--color-primary-light-text: #000;
	
	/*
		Secondary Color
	*/
	--color-secondary: #000;
	--color-secondary-text: #FFAA1C;
	
	/*
		Background
	*/
	--color-background: #2F3D57;
	--color-background-text: #FFF;
	--color-surface: #FFF;
	--color-surface-text: #000;
	--color-error: #8D052D;
	--color-error-text: #FFF;
}